@using JsonToCsharpPoco.Components.Pages
@inject IJSRuntime JSRuntime

<div class="fixed left-0 top-1/2 -translate-y-1/2 z-40 flex items-center">
  <div class="relative">
    <button @onclick="TogglePanel" class="absolute left-0 top-1/2 -translate-y-1/2 transform transition-transform duration-300 
                   @(_isPanelOpen ? "translate-x-[384px]" : "translate-x-0")
                   w-8 h-16 bg-[#007ACC] hover:bg-[#388A34] rounded-r-lg 
                   flex items-center justify-center group">
      <div class="relative w-6 h-6 flex items-center justify-center transition-transform duration-300
                        @(_isPanelOpen ? "rotate-180" : "rotate-0")">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white transition-opacity duration-300" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M9 5l7 7-7 7" />
        </svg>
      </div>
      <div
        class="absolute inset-0 bg-white/10 opacity-0 group-hover:opacity-100 rounded-r-lg transition-opacity duration-300">
      </div>
    </button>
  </div>
</div>

<div class="fixed inset-0 z-30 overflow-hidden @(_isPanelOpen ? "pointer-events-auto" : "pointer-events-none")">
  <div class="fixed inset-0  transition-opacity duration-300 ease-in-out 
                @(_isPanelOpen ? "opacity-100" : "opacity-0 pointer-events-none")">
  </div>


  <div class="fixed top-0 left-0 h-full w-96 transform transition-all duration-300 ease-in-out 
                @(_isPanelOpen ? "translate-x-0 shadow-2xl" : "-translate-x-full")">
    <div class="h-full p-6 bg-[#F3F3F3] dark:bg-[#1E1E1E] text-gray-800 dark:text-gray-100 
                    overflow-y-auto border-r border-[#E7E7E7] dark:border-[#2D2D2D]
                    backdrop-blur-lg bg-black/95 dark:bg-black/95">
      <div class="flex justify-between items-center mb-4">
        <div class="text-xl font-semibold">Toolbar</div>
        <button @onclick="TogglePanel" class="p-2 rounded-full text-gray-500 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-100 
                               hover:bg-gray-100 dark:hover:bg-gray-800 transition-all duration-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <hr class="my-4 border-[#E7E7E7] dark:border-[#2D2D2D]" />

      <div class="space-y-4">

      </div>
    </div>
  </div>
</div>

@code {
  private bool _isPanelOpen = true;

  private void TogglePanel()
  {
    _isPanelOpen = !_isPanelOpen;
  }

}